.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw;  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    padding: 20px; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.buttonSubmit {
    width: 100%;
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: var(--background-color-fifth);
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
}

.containerSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 400px; 
    padding-top: 20px; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.021); 
}
.buttontipo {
    width: 40%;
    height: 40px;
    padding: 5px; 
    border: none; 
    border-radius: 4px; 
    background-color: var(--text-color-fourth);
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
}

.buttontipo:hover {
    background-color: var(--text-color-secondary); 
    color: var(--background-color-primary);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(83, 83, 83, 0.2);
}
.selected {
    background-color: var(--text-color-fourth); 
    font-weight: bold;
    box-shadow: 0 4px 0 rgba(18, 241, 37, 0.322);
}