.customedInput {
    width: 100%;
    margin-right: 65px;
}

.dropdown {
    /* Estilos generales para el Dropdown */
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 8px;
    font-size: 1rem;
}
