.container, .mainContent {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.header {
    background-color: var(--header-color);
    height: 40px;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--background-color-secondary);
}

.navList {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navList li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navLogoLeft {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.navLogoRight {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color-secondary);
    padding: 20px;
    margin: 0;
    gap: 50px;
}

.sectorInfoInteres {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sectorInfoInteres:hover {
    transform: scale(1.05);
}

.imagenes {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.imagenes:hover {
    transform: scale(1.05);
}

.loginTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: #0C2D48;
    margin-bottom: 1rem;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    max-width: 1000px;
}

.leftColumnFooter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    padding: 10px;
    font-size: 14px;
    color: #04324d;
}

.centerColumnFooter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    color: #04324d;
}

.centerColumnFooter:hover{
    color: #04324d;
}


.leftColumn video {
    max-width: 100%;
    height: auto;
}

.centerColumn img {
    max-width: 85%;
    height: auto;
    border-radius: 5px;
}


.centerColumn {
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.rightColumn {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.rightColumnFooter {
    display: grid;
    justify-content: center;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
}

.rightColumnNuevo {
    display: grid;
    min-width: 300px;
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.rightColumnNuevo img {
    width: 500px;
    height: 200px;
}

.tituloContent {
    background-color: #9e9e9e;
    padding: 20px 0px 20px 5%;
    color: #f7f7f7;
    font-size: 14px !important;
}

.leftColumn img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.imageSection {
    display: flex;
    max-width: 100%;
    gap: 10%;
    margin-top: 50px;
    padding: 2% 5% 2% 5%;
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rightColumn img {
    max-width: 100%;
    height: auto;
    width: 65vw;
    border-radius: 5px;
}
.rightColumn form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

/* Inputs y Botones */
.rightColumn label {
    margin-top: 15px;
    font-weight: bold;
}

.rightColumn input, .logininput input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 1px solid var(--border-color-secondary);
    border-radius: 25px;
    font-size: 15px;
    box-sizing: border-box;
    color: var(--text-color-primary);
}

.rightColumn button {
    margin-top: 20px;
    padding: 12px;
    background-color: #30AD05;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rightColumn button:hover {
    background-color: #5ba730;
}

.logininput input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    color: var(--text-color-primary);
    border-radius: 5px;
    border: 1px solid var(--border-color-secondary);
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

.loginInputContainer {
    position: relative;
    width: 100%;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputField {
    width: 100%;
    padding-right: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f01010;
}

.loginInputContainer .eyeButton {
    position: absolute;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #30AD05; 
    font-size: 20px;
    bottom: -0%;
}

.loginInputContainer .eyeButton:hover {
    color: #eaeaea; 
    background: none;
    color: #1f6f05; 
}


/* Ajustes para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column; 
        padding: 10px;
    }
    .leftColumn, .rightColumn {
        flex: 1;
        max-width: 100%; 
        padding: 20px;
    }
    .leftColumn img {
        width: 100%; 
        margin: auto;
    }
    .rightColumn form {
        width: 100%;
        margin-bottom: 10px;
    }
    .imageSection{
        display: flex;
        margin-top: 50px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftColumn img {
        max-width: 30%;
        height: auto;
        border-radius: 5px;
        padding-bottom: 5%;
    }
    .rightColumnNuevo img {
        width: 350px;
        height: 150px;
    }
    .rightColumn label {
        font-size: 12px;
    }
    .centerColumn img {
        max-width: 80%;
        height: auto;
        border-radius: 5px;
        padding-bottom: 5%;
    }
    .forgotPasswordLink {
        font-size: 12px !important; 
    }
    .mainContent {
        gap: 20px;
    }
    .sectorEmpleoContainer {
        flex-direction: column;
        gap: 15px;
    }
    .sectorEmpleoImg {
        max-width: 120px;
    }
    .additionalContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .leftColumnFooter,
    .centerColumnFooter,
    .rightColumnFooter {
        width: 100%;
    }
    
    .rightColumnFooter img {
        max-width: 80%;
        height: auto;
    }
}

/* Ajustes para tamaños de pantalla medianos */
@media (min-width: 769px) and (max-width: 1024px) {
    .leftColumn {
        display: flex;
        flex-direction: column;
        gap: 15px;
        -top: 20px;
        max-width: 600px;
    }
    .leftColumn img {
        max-width: 15%;
        height: auto;
        border-radius: 5px;
    }
    .rightColumn {
        flex: 1;
        margin-bottom: 10px;
    }
    .rightColumn label {
        margin-top: 15px;
        font-weight: bold;
        font-size: 14px;
    }
    .rightColumn form {
        max-width: 300px;
    }
    .rightColumn img {
        width: 175px; 
        height: 75px;
    }
    .rightColumn button {
        font-size: 12px;
    }
    .forgotPasswordLink {
        font-size: 12px !important; 
    }
    .rightColumnNuevo img {
        width: 350px;
        height: 150px;
    }
}

@media (max-width: 650px) {
    .logininput input {
        padding: 12px 40px 12px 15px;
    }

    .sectionactions button {
        width: 90%;
        margin: 0 auto;
    }
    .rightColumn img {
        width: 175px; 
        height: 75px;
    }
}

.footer {
    background-color: var(--text-color-fourth);
    padding: 15px;
    text-align: center;
}

.gobiernoContainer {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    align-items: center;
    padding: 50px 5% 50px 5%;
    gap: 24px;
    background-color: var(--text-color-fourth);
    overflow: hidden;
}

.sectorEmpleoContainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px 5% 50px 5%;
    gap: 20px;
    background-color: #fff;
    overflow: hidden;
    justify-content: space-around;
}

.sectorEmpleoImg {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.sectorEmpleoImg:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

.menuContainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #0C2D48;
    gap: 2%;
    height: 60px;
}

.menuContainer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
}

.gobiernoImg {
    width: 334px;
    height: 61px;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.gobiernoMinisterioContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.gobiernoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-third);
    font-size: 12px;
    margin: 5px 0;
}

.gobiernoMinisteriosSquare {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline-block;
}

@media (max-width: 768px) {
    .gobiernoContainer {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        gap: 16px;
        text-align: left;
    }

    .gobiernoImg {
        width: 334px;
        height: 61px;
        margin-bottom: 20px;
        grid-column: 1 / -1;
        justify-self: center;
    }

    .gobiernoMinisterioContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
    }

    .gobiernoLink {
        margin: 5px 10px;
    }
}

.additionalContainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px 5% 50px 5%;
    gap: 20px;
    background-color: #fff;
    overflow: hidden;
    justify-content: space-around;
}

.infoSection {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    color: var(--text-color-fourth);
    line-height: 1.6;
    padding-left: 50px;
    font-weight: bold;
}

.logoSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sectionForgotPassword {
    display: flex;
    justify-content: flex-end; 
    padding-top: 20px;
}

.forgotPasswordLink {
    color: #30AD05; 
    text-decoration: none;
    font-size: 1rem; 
}