:root {
    --background-color-primary: #ecf0f4;
    --background-color-secondary: #ffffff;
    --background-color-third: #e8ecf5;
    --background-color-fourth: #5ca73026;
    --background-color-fifth: #5ca730bd;
    --text-color-primary: #76809a;
    --text-color-secondary: #5ba730;
    --text-color-third: #ffffff;
    --text-color-fourth: #9e9e9e;
    --border-color-primary: #cfd4de;
    --border-color-secondary: #74809cbb;
    --shadow-color-primary: #e7ecf6;
    --shadow-color-secondary: #74809c42;
    --scroll-bar-color: #5ca7306d;
    --blocked-content: #ffffffb3;
    --header-color: #9e9e9e;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

*::selection {
    background-color: var(--background-color-fifth);
    color: var(--text-color-third);
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
}


a {
    text-decoration: none;
    color: var(--text-color-primary);
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

svg {
    user-select: none;
    pointer-events: none;
}

.App {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    overflow-x: hidden;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 10px;
}

footer.main-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    color: var(--text-color-secondary);
    background-color: var(--background-color-secondary);
}

footer.main-footer p {
    margin: 10px;
    text-align: right;
    font-size: 13px;
}

.container {
    margin: 50px 40px;
    padding: 20px;
    background-color: var(--background-color-secondary);
    border-radius: 20px;
    min-height: 40vh;
    box-shadow: 4px 4px 13px var(--shadow-color-secondary);
}

.container-public {
    margin: 20px;
    padding: 20px;
    background-color: var(--background-color-secondary);
    border-radius: 20px;
    min-height: 95vh;
    box-shadow: 4px 4px 13px var(--shadow-color-secondary);
}

.content-public {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input:focus,
textarea:focus,
select:focus,
input:active,
textarea:active,
select:active,
input:hover,
textarea:hover,
select:hover {
    outline: none;
    box-shadow: none;
    border-color: initial;
}


/* responsive tablets */
@media screen and (max-width: 1380px) {
    .App {
        flex-direction: column;
    }
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .container {
        margin: 10px;
        border-radius: 10px;
        box-shadow: none;
    }
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background: #ffffff;
    color: var(--background-color-fifth);
}

.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: var(--background-color-fifth);
}

input.p-dropdown-filter.p-inputtext.p-component {
    height: 2.4rem !important;
    position:absolute;
    top: -40px;
    box-shadow: 0 0 0 0.2rem #d4dafc;
    border: none
}
svg.p-dropdown-filter-icon {
    top: -28px;
}