.p-component.p-ripple-disabled.p-connected-overlay-enter-done ul li{
    padding: 5px 10px;
    color: var(--text-color-primary);
}

.p-component.p-ripple-disabled.p-connected-overlay-enter-done ul li.p-highlight{
    background-color: var(--background-color-fourth);
}

.p-component.p-ripple-disabled.p-connected-overlay-enter-done ul li .p-checkbox-box.p-highlight{
    background-color: var(--text-color-secondary);
    border-color: var(--text-color-secondary);
}

.p-component.p-ripple-disabled.p-connected-overlay-enter-done ul li span{
    margin-left: 8px;
}

.p-multiselect-select-all{
    padding: 5px 10px;
}

.p-dropdown-clear-icon,
.p-multiselect-clear-icon,
.p-password i{
    top: 30%;
}

.p-password,
.p-calendar,
.p-inputnumber{
    border-radius: 6px;
}

.p-password .p-icon-field{
    width: 100%;
}

.p-password input,
.p-calendar input,
.p-inputnumber input{
    width: 100%;
    border: none;
    color: var(--text-color-primary);
}

.p-password .p-input-icon{
    top: 0;
    right: 0;
    cursor: pointer;
}

.p-datepicker-group-container{
    color: var(--text-color-primary);
}

.p-datepicker-group-container .p-datepicker-header{
    margin-bottom: 10px;
    padding: 5px;
}

.p-datepicker-group-container .p-datepicker-header .p-datepicker-title button{
    color: var(--text-color-secondary);
    font-weight: lighter;
    margin: 0 4px;
}

.p-datepicker-group-container .p-datepicker-header .p-datepicker-title button:hover{
    color: var(--text-color-primary);
}

.p-datepicker-group-container table span{
    font-weight: lighter;
    font-size: 14px;
}

.p-datepicker-group-container .p-highlight[data-p-highlight="true"]{
    background-color: var(--background-color-fourth);
    color: var(--text-color-secondary);
}

.p-button-group{
    border: none !important;
    display: grid;
    padding: 0 !important;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
} 

.p-button-group .p-highlight{
    background-color: var(--background-color-fourth);
    border: 1px solid var(--background-color-fifth);
}

.p-button-group .p-focus{
    box-shadow: none !important;
}

.p-button-group span {
    font-weight: lighter;
}

.p-button-group .p-highlight span{
    color: var(--text-color-secondary) !important;
}

.p-dropdown-filter{
    padding: 0 10px !important;
}

.p-multiselect-filter-container{
    padding: 10px !important;
}

.p-multiselect-filter-container input{
    color: var(--text-color-primary);
    padding: 5px 3px;
    border-radius: 6px;
}

.p-multiselect-filter-container input:focus + svg{
    color: transparent;
}

.p-multiselect-filter-container svg{
    color: var(--text-color-primary);
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: var(--background-color-secondary)
}