.wave {
    position: relative;
    margin: 50px auto;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wave span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
}

.animate1 span {
    animation: animate1 3.5s ease-in-out infinite;
    animation-delay: calc(.1s * var(--c));
}

.animate2 span {
    animation: animate2 3.5s ease-in-out infinite;
    animation-delay: calc(.1s * var(--c));
}


@keyframes animate1 {
    0%,
    100% {
        opacity: 1;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
}

@keyframes animate2 {
    0%,
    100% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0px);
    }
}